<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express tdd app</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Express tdd</h1>
    <h4>Project description</h4>
    <p>We want to create a api for a todo list with basic crud</p>
    <ul>
        <li>Crud</li>
        <li>Crud</li>
    </ul>
	<script src="/javascripts/index.js"></script>
  </body>
</html>